@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap");


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }


/* Style the side bar section */

  .sidebar {
    height: 100%;
    width: 16%;
    max-width: 200px;
    min-width: 160px;
    background: #0A1122;
    display: inline-block;
    position: fixed;
    box-shadow: 0px 2px 4px #000000 50%;
  }

  .App-logo {
    block-size: 200px;
    padding: 8px 8px;
    box-align: center;
    margin: 0 18%;
    position: relative;
    animation: fadeIn ease-in 2s;
  }

  .tab {
    color: #f3f3f3;
    line-height: 60px;
    padding-left: 16px;
    align-items: center;
  }

  .tab:hover {
    font-weight: bold;
    filter: invert(11.5%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
    }

  .tab:nth-child(5n) {
    bottom: 24px;
    position: absolute;
  }

  .icon {
    margin: 8px;
  }

  .label {
    font-size: 18px;
  }


/* Style the accordion section */
.accordion__section {
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 7px #262626 50%;
  border-radius: 2px;
 
}

/* Style the buttons that are used to open and close the accordion panel */

.accordion {
 
  background-color: #2d353f;
  color: #f3f3f3;
  cursor: pointer;
  padding: 18px;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  transition: background-color 0.6s ease;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion:hover,
.active {

  background-color: #637381;
}
.active-expanded{
  border-bottom-left-radius: 0px!important;
  border-bottom-right-radius: 0px!important;
}
/* Style the accordion content title */
.accordion__title {
  margin-left:10px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  }
  .accordion__progressbar{
    margin-left: 50px;
  }

/* Style the accordion chevron icon */
.accordion__icon {
  width:10px; 
  transition: transform 0.6s ease;
  fill:#f3f3f3;
}

/* Style to rotate icon when state is active */
.rotate {
  transform: rotate(180deg);
}

/* Style the accordion content panel. Note: hidden by default */
.accordion__content {
  background-color: #2d353f;
  color:#f3f3f3;
  overflow: hidden;
  transition: max-height 0.6s ease;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

/* Style the accordion content text */
.accordion__text {
  font-family: "Open Sans", sans-serif;
  columns: #f3f3f3;
  font-weight: 400;
  font-size: 14px;
  padding: 18px;
  display:flex;
  flex-direction: row;
  text-align: left;
}

.goal_image {
  background-image: 
}

.section_title {
  margin: 0 36px;
}

h4 {
  color: #637381;
  line-height: 36px;
}

.section_content{
  line-height: 36px;
}



