

.App-mainContent {
  text-align: left;
  background-color: #1A232E;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  padding-left: 240px;
  padding-top: 48px;
  color: #f3f3f3;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
