body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.sidebar {
  height: 100%;
  width: 240px;
  background-position: fixed;
  background-color: #0A1122;

}

.progress-bar{
  position:relative;
  background: #686868;
  height: 10px;
  width: 350px;
  border-radius:10px;
  border: 0px;
}
.filler{
  background: linear-gradient(90deg, #fae042 ,#fae14283 );
  
  height: 100%;
  border-radius: inherit;
  transition:width .5s ease-in-out
}

.accordion-background{
  background:  #fae042;
  border: 1px solid #008f68;
  padding: 5px 10px;
}
.accordion-isOpen{
  float: right;
}
.accordion-Openstate{
  background: #6db65b;
  border: 2px solid #008f68;
  margin-top: 10;
  padding: 10px 20px;
}
.accordion-body{
  border: 2px solid #008f68;
}