@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-weight: 700;
  font-size: 32px;
  color: #F3F3F3;
}

h2 {
  font-weight: 700;
  font-size: 24px;
  color: #637381;
}

h3 {
  font-weight: 700;
  font-size: 16px;
  color: #F3F3F3;
  padding: 8px 0px;
}

.card-info {
  font-weight: 300;
  font-size: 12px;
  padding: 8px;
  line-height: 16px;
}

.card1, .card2 {
  padding-right: 4px;
}

.spacer-small {
  margin: 8px;
}

.summary-section ul {
  display: inline-block;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.sidebar {
  height: 100%;
  width: 240px;
  background-position: fixed;
  background-color: #0A1122;

}

.progress-bar{
  position:relative;
  background: #686868;
  height: 10px;
  width: 350px;
  border-radius:10px;
  border: 0px;
}
.filler{
  background: linear-gradient(90deg, #fae042 ,#fae14283 );
  height: 100%;
  border-radius: inherit;
  transition:width .5s ease-in-out
}

.accordion-background{
  background:  #fae042;
  border: 1px solid #008f68;
  padding: 5px 10px;
}
.accordion-isOpen{
  float: right;
}
.accordion-Openstate{
  background: #6db65b;
  border: 2px solid #008f68;
  margin-top: 10;
  padding: 10px 20px;
}
.accordion-body{
  border: 2px solid #008f68;
}